services:
  postgres:
    image: postgres:16
    container_name: clbio-db
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - clbio-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:9.11.0
    container_name: clbio-pgadmin
    restart: unless-stopped
    volumes:
      - ./servers.json:/pgadmin4/servers.json
    depends_on:
      - postgres
    ports:
      - "5050:80"
    env_file:
      - .env
    networks:
      - clbio-net
  
  redis:
    image: redis:7
    container_name: clbio-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - clbio-net
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: clbio-minio
    restart: unless-stopped
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_KEY}
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks:
      - clbio-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  createbuckets:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    container_name: clbio-createbuckets
    depends_on:
      minio:
        condition: service_healthy
    env_file:
      - .env
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 ${AWS_ACCESS_KEY} ${AWS_SECRET_KEY};
      /usr/bin/mc mb myminio/${AWS_BUCKET_NAME} || true;
      /usr/bin/mc anonymous set public myminio/${AWS_BUCKET_NAME};
      exit 0;
      "
    networks:
      - clbio-net
  
  clbio-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clbio-api
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_DOCKER}
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__RedisConnection=redis:6379,abortConnect=false
      - AWS__AccessKey=${AWS_ACCESS_KEY}
      - AWS__SecretKey=${AWS_SECRET_KEY}
      - AWS__BucketName=${AWS_BUCKET_NAME}
      - AWS__Region=${AWS_REGION}
      - AWS__ServiceUrl=${AWS_SERVICE_URL}
      - AWS__PublicUrl=${AWS_PUBLIC_URL}
    networks:
      - clbio-net  
    healthcheck:
        test: ["CMD-SHELL", "curl -f http://localhost:8080/dev/health || exit 1"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 20s

volumes:
  postgres-data:
  minio-data:

networks:
  clbio-net:
    driver: bridge
