services:
  postgres:
    image: postgres:16
    container_name: clbio-db
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - clbio-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: clbio-pgadmin
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "5050:80"
    env_file:
      - .env
    networks:
      - clbio-net

  clbio-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clbio-api
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_DOCKER}
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
    networks:
      - clbio-net  

volumes:
  postgres-data:

networks:
  clbio-net:
    driver: bridge
