services:
  postgres:
    image: postgres:16
    container_name: clbio-db
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - clbio-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: clbio-pgadmin
    restart: unless-stopped
    volumes:
      - ./servers.json:/pgadmin4/servers.json
    depends_on:
      - postgres
    ports:
      - "5050:80"
    env_file:
      - .env
    networks:
      - clbio-net
  
  redis:
    image: redis:7
    container_name: clbio-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - clbio-net
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  clbio-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clbio-api
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_DOCKER}
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__RedisConnection=redis:6379,abortConnect=false
    networks:
      - clbio-net  
    healthcheck:
        test: ["CMD-SHELL", "curl -f http://localhost:8080/dev/health || exit 1"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 20s

volumes:
  postgres-data:

networks:
  clbio-net:
    driver: bridge
